parameters:
    level: 8
    paths:
        - Classes
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - Tests/*
    ignoreErrors:
        - '#Call to an undefined method TYPO3\\CMS\\Core\\Cache\\Frontend\\FrontendInterface::#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false 