<div style="border: 2px solid #00008b; margin: 10px; padding: 10px; background-color: #e6e6fa;">
    <header style="background-color: #b0c4de; padding: 5px;">
        <h1>Layout: <f:cObject typoscriptObjectPath="lib.pageTitle" />Simple Page Layout</h1>
        <p><em>(This is a shared layout structure)</em></p>
    </header>
    <main style="padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #00008b; border-bottom: 1px solid #00008b;">
        <f:render section="MainContent" />
    </main>
    <footer style="font-size: 0.9em; text-align: center; padding-top: 5px;">
        <p>&copy; My Fluid Storybook Project</p>
    </footer>
</div>
